<%- model_class = Node -%>
<%= error_content(@nodeset.start) %>
<%= error_content(@nodeset.end) %>

<p>
	<%= link_to 'Reset Form', reset_form_noderelations_path, :class => " small button" %>
</p>
<div id="node_start_select">	
	<%= render :partial => 'node_start_sel' %>
</div>
<div id="node_rel_select">
	
</div>
<div id="node_end_select">
	
</div>

<div id="start_node_form">
	
</div>

<div id=node-create-status>
	Non Selected
</div>
