<%- model_class = Matrix -%>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>           
   </tr>
  </thead>
  <tbody>
   <% for matx in @matrices %>
      <tr>
         <td>
            <%= link_to matx.name, matrix_path(matx) %>
         </td>
         <td>
            <%= link_to 'Edit', edit_matrix_path(matx), :class => 'tiny button' %>
            <%= link_to 'Delete', matrix_path(matx), :method => :delete, :class => 'tiny success button'%>       
         </td>
      </tr>
   <%end%>  
</table>