$main-colour: #191970;
$head-colour: #556B2F;
$background-colour: #556B2F;
$foot-colour:  #9BCD9B;
$main-nav-colour: #B51032;
$page-colour: #FFF8DC;
$list-colour: #FFEECA;
$sec-nav-colour: #711515;

#header {
	width: 100%;
	height: 40px;
	display: block;
	background-color: #187477; 
	margin:0 10px 10px 0;
	text-align: center;
	color: white;
	padding: 2px;	
}
#header #logo {
	font-size: 200% ;
	float: left;
	height: 40px;
	width: 150px; 
	margin: 0 auto;}

#header #page-title {float: left;}


#main {clear: both;}


footer { clear: both;
	background-color: #800000;
	color: #FFF;
	height: 50px;
	}
footer p {	vertical-align: middle; }

.column {width: 15%; 
		float: left; } 

.sidebar {width: 27%; 
				float: left; } 

.content { width: 56%; 
		margin: 0 1%;}

.navbar {}

.navbar ul { list-style-type: none; 
			display: block;
			padding: 0; 
			margin: 0; }

.navbar li { border-bottom: 1px solid #ED9F9F; }

.navbar li a:link, .navbar li a:visited  { 
			font-size: 100%; 
			display: block; 
			padding: 0.4em 0 0.4em 0.5em; 
			border-left: 12px solid $sec-nav-colour; 
			border-right: 1px solid $sec-nav-colour; 
			background-color: $main-nav-colour; 
			color: #FFFFFF; 
			text-decoration: none; }

.navbar li a:hover { background-color: $sec-nav-colour; 
					color: #FFFFFF; }

#tag-cloud {width: 250px; height: 300px; position: relative;}

.link	{
	font:bold 12px Tahoma, Geneva, sans-serif;
	font-style:normal;
	color:#ffffff;
	background:#2f3b4a;
	border:0px solid #ffffff;
	box-shadow:2px 2px 5px #000000;
	-moz-box-shadow:2px 2px 5px #000000;
	-webkit-box-shadow:2px 2px 5px #000000;
	border-radius:0px 0px 0px 0px;
	-moz-border-radius:0px 0px 0px 0px;
	-webkit-border-radius:0px 0px 0px 0px;
	width:73px;
	padding:15px 30px;
	cursor:pointer;
	margin:0 auto;
	text-decoration: none; 
}
	.link:active{
	cursor:pointer;
	position:relative;
	top:2px;
}
